/*==============================

Style Sheet for Glass Mamba

Table of Contents:

01. General HTML Tag Styles
02. Home, Header, Nav
03. About 
04. Resume 
05. Work
06. Clients
07. Journal
08. Contact

=================================*/

/*==============================

== 01. General HTML Tag Styles ==

=================================*/

#main-container{
	margin: auto;
}

/*==========================

== 02. Home, Header, Nav ==

============================*/

.header-container {
	background-image:url(../img/hero.jpg);
	background-size:cover;
}

ul.my-navbar {
	list-style-type:none;
	background-color: black;
    overflow: hidden;
	
}

.my-navbar li {
    float: right;
}

li a {
	margin:10px;
	display: block;
	color: white;
	text-align: center;
	padding-bottom:4px;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;	
}

li a:hover {
	color: #fed605;
	text-decoration: none;
	border-bottom: #fed605 1px solid;
	padding-bottom: 3px;
}

/*=============

== 03. About ==

===============*/

.about-container {
	margin-top: 100px;
	text-align: center;
	font-size: 3em;
}

h1.landing-header{
	margin-top: 300px;
	text-align: center;
	/*font-family: 'Poppins', sans-serif;*/
	font-weight: bold;
	font-size: 13em;
	color: #fed605;
}

h1.section-header{
	font-size: 1.8em;	
}

p.subtitle{
	margin-top: 10px;
	text-align: center;
	color: white;
	font-size: 30px;
	text-transform: uppercase;	
}

p.caption{
	margin-top: 10px;
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
}

.bar{
	width: 620px;
    height: 7px;
    background-color: #DFDFDF;
}

.progress{
    width:100%;
    height: 100%;
    background-color: #F1CA21 	
}

.about-info{
	margin-top: 20px;
    height: 460px;
	font-size: 0.4em;	
	text-align: left;
	font-family:'Lora', serif;
}

.small{
	font-size:10px;
}

.large-font{
	font-size: 1.8em;	
}